body{
    font-family: Arial;
    margin:0;
    background:#f4f6f9;
}

.navbar{
    background:#2d3436;
    padding:15px;
    color:white;
    font-size:20px;
}

.container{
    width:90%;
    margin:auto;
    padding:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

input, select{
    width:100%;
    padding:10px;
    margin:5px 0;
    border-radius:5px;
    border:1px solid #ddd;
}

button, .btn{
    padding:10px 15px;
    background:#0984e3;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    text-decoration:none;
}

.btn-danger{
    background:#d63031;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th, td{
    padding:12px;
    border-bottom:1px solid #ccc;
}

table tr:hover{
    background:#f1f1f1;
}
